// color variables
$grayes: #A9A9A9;
$royal-blue: #003FC5;
$light-blue: #CAE2FC;
$off-white: #F4F7F7;

// typography variables
$font-main: 'Franklin Gothic Medium', sans-serif;
$font-weight-headings: 900;
$font-weight-body: 400;
$font-weight-light: 300;

body { 
  font-family: "Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic", Arial,sans-serif;
  background-image: url('gridme.png');
  background-attachment:fixed;
}

h2 {
  color: $grayes;
}

h4 {
  font-style: italic;
  color: $grayes;
}

.wrapper {
  position: relative;
  width: 350px;
  height: 100px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.signature-pad {
  position: absolute;
  left: 0;
  top: 0;
  width:350px;
  height:100px;
}

