<h1><%= @gig.user.name %> Your next gig is being processed!</h1>

<!-- #fix from here -->
<!-- <p>Contract ID, User Name: < %= @document.id_present_to_customer %></p>
<p>Purchased At < %= @document.pretty_created_at %></p>

< % @document.carted_products.each do |carted_product| %>
<h2>< %= carted_product.document.user.name %> - Quantity: < %= carted_product.quantity %></h2>
< % end %> -->